.input-box{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 35%;
    margin: auto;
}

.input-box input{
    padding: 10px;
    width: 75%;
    margin-top: 20px;
}

.input-box button{
    padding: 10px;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: teal;
    border: none;
    border-radius: 5px;
}

.input-box button:hover{
    cursor: pointer;
 }

.todo-data{
    margin: auto;
    margin-top: 100px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 45%;
    padding: 10px;
    /* height: 600px; */
}

.todo-card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.todo-card button{
    padding: 10px;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: tomato;
    border: none;
    border-radius: 5px;
}

.todo-card button:hover{
   cursor: pointer;
}